@import 'variables';

$margin-v: 30px;
$margin-v-gt-sm: 48px;
$card-content-padding-gt-sm: 48px;
$list-offset: 30px;
$card-offset-gt-xs: 32px;
$card-offset-gt-sm: 48px;

%author-text {
  font-size: 14px;
  line-height: 20px;
}

.section {
  @include section-content-padding;
  @include brown-gradient-background;
  @include stretch-section-to-viewport-height;
}

.article {
  @extend %vok-card;

  @include screen-gt-xs {
    padding: $card-offset-gt-xs 0;
  }

  @include screen-gt-sm {
    padding: $card-offset-gt-sm 0;
  }
}

.title {
  @include card-content-padding;
  font-family: $vok-font-serif;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  font-weight: bold;

  @include screen-gt-xs {
    font-size: 32px;
    padding-left: $card-offset-gt-xs;
    padding-right: $card-offset-gt-xs;
  }

  @include screen-gt-sm {
    padding-left: $card-offset-gt-sm;
    padding-right: $card-offset-gt-sm;
  }
}

.author {
  @include card-content-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $margin-v 0;
}

.author-avatar {
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: inset 0 0 1px 1px $vok-light-grey;
}

.author-name {
  @extend %author-text;
  font-weight: bold;
}

.date {
  @extend %author-text;
}

.content {
  @include card-content-padding;
  margin-top: $margin-v;

  @include screen-gt-sm {
    margin-top: $margin-v-gt-sm;
    padding-left: $card-content-padding-gt-sm;
    padding-right: $card-content-padding-gt-sm;
  }

  & > *:not(:last-child) {
    margin-bottom: 16px;

    @include screen-gt-sm {
      margin-bottom: 24px;
    }
  }
}

/* rich text */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.paragraph {
  font-size: 18px;
  line-height: 1.3;

  @include screen-gt-sm {
    font-size: 20px;
  }
}

.heading-2 {
  font-weight: bold;
  font-size: 22px;
  padding-top: 8px;

  @include screen-gt-sm {
    font-size: 24px;
  }
}

.heading-3 {
  font-weight: bold;
  font-size: 20px;
  padding-top: 6px;

  @include screen-gt-sm {
    font-size: 22px;
  }
}

.heading-4 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 4px;

  @include screen-gt-sm {
    font-size: 20px;
  }
}

.ordered-list {
  padding-left: $list-offset;
}

.unordered-list {
  padding-left: $list-offset;
}

.list-item {
  padding-left: 5px;

  .ordered-list > & {
    list-style-type: decimal;
  }

  .unordered-list > & {
    list-style-type: disc;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.quote {
  font-style: italic;
  border-left: 4px solid $vok-light-grey;
  padding-left: 16px;

  &::before {
    content: '\201E';
  }

  &::after {
    content: '\201C';
  }

  & > p {
    display: inline;
  }
}

.content > .embedded-asset {
  max-width: 650px;
  margin: 32px auto;

  @include screen-gt-xs {
    margin: 40px auto;
  }

  @include screen-gt-sm {
    margin: 48px auto;
  }
}

.hyperlink,
.entry-hyperlink {
  color: $vok-light-blue;

  &:hover {
    text-decoration: underline;
  }
}
