@import 'variables';

$previews-gap: 40px;

.section {
  @include section-content-padding;
  @include brown-gradient-background;
  @include stretch-section-to-viewport-height;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @extend %vok-section-title;
}

.previews {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include screen-gt-sm {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.preview {
  &:not(:last-child) {
    margin-bottom: 65px;
  }

  @include screen-gt-sm {
    width: calc((100% - 2 * #{$previews-gap}) / 3);
    margin-bottom: 0 !important;

    &:not(:nth-child(3n)) {
      margin-right: $previews-gap;
    }

    &:nth-child(n + 4) {
      margin-top: $previews-gap;
    }
  }
}

.card {
  height: 100%;
}

.nav {
  margin-top: $vok-section-margin-v;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include screen-gt-xs {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.button {
  width: 120px;

  &:not(:last-child) {
    margin-bottom: 20px;

    @include screen-gt-xs {
      margin-bottom: 0;
    }
  }
}
