/* fonts */
$vok-font-serif: 'PT Serif', serif;
$vok-font-sans: 'PT Sans', sans-serif;

/* colors */
$vok-green: #64af5f;
$vok-blue: #2b6aa3;
$vok-blue-tint: #4079ac;
$vok-blue-shade: #265d8f;
$vok-dark-brown: #5b4730;
$vok-light-brown: #83781b;
$vok-dark-grey: #2f2b2a;
$vok-white: #ffffff;
$vok-black: #000000;
$vok-light-grey: #bfbfbf;
$vok-light-blue: #0086ff;
$vok-fb-blue: #3b5998;
$vok-fb-blue-shade: #344e86;
$vok-fb-blue-tint: #4f6aa2;

/* header */
$vok-header-height: 90px;

/* breakpoints */

@mixin screen-gt-xs {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin screen-gt-sm {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin screen-gt-lg {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

/* section */

$vok-section-padding-v: 85px;
$vok-section-padding-h: 10%;
$vok-section-padding-h-gt-sm: calc((100% - 750px) / 2);
$vok-section-padding-h-gt-lg: calc((100% - 1050px) / 2);

@mixin section-content-padding {
  padding: $vok-section-padding-v $vok-section-padding-h;

  @include screen-gt-sm {
    padding-left: $vok-section-padding-h-gt-sm;
    padding-right: $vok-section-padding-h-gt-sm;
  }

  @include screen-gt-lg {
    padding-left: $vok-section-padding-h-gt-lg;
    padding-right: $vok-section-padding-h-gt-lg;
  }

  @content;
}

@mixin brown-gradient-background {
  background: linear-gradient(75deg, $vok-dark-brown, $vok-light-brown);

  @media (orientation: landscape) {
    background: linear-gradient(25deg, $vok-dark-brown, $vok-light-brown);
  }

  @content;
}

@mixin stretch-section-to-viewport-height {
  min-height: calc(100vh - #{$vok-header-height});

  @content;
}

$vok-section-margin-v: 75px;

%vok-section-title {
  font-family: $vok-font-serif;
  color: $vok-white;
  text-align: center;
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: $vok-section-margin-v;
}

/* card */

$vok-card-offset: 16px;

@mixin card-content-padding {
  padding-left: $vok-card-offset;
  padding-right: $vok-card-offset;

  @content;
}

%vok-card {
  background: $vok-white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba($vok-black, 0.25);
  overflow: hidden;
  padding: $vok-card-offset 0;
}
