/* fonts */
$vok-font-serif: 'PT Serif', serif;
$vok-font-sans: 'PT Sans', sans-serif;

/* colors */
$vok-green: #64af5f;
$vok-blue: #2b6aa3;
$vok-blue-tint: #4079ac;
$vok-blue-shade: #265d8f;
$vok-dark-brown: #5b4730;
$vok-light-brown: #83781b;
$vok-brown-gradient: linear-gradient(25deg, $vok-dark-brown, $vok-light-brown);
$vok-dark-grey: #2f2b2a;
$vok-white: #ffffff;
$vok-black: #000000;
$vok-light-grey: #bfbfbf;
$vok-light-blue: #0086ff;

/* sizes */
$vok-header-height: 90px;

/* breakpoints */
@mixin screen-gt-xs {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin screen-gt-sm {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin screen-gt-lg {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
