@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap');

@import 'variables';

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: $vok-font-sans;
  padding-top: $vok-header-height;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
}

input {
  border: none;
  background: none;
}
