@import 'variables';

$padding-v: 32px;
$padding-h: 1em;

$avatar-size: 40px;
$avatar-margin: 10px;

.section {
  @include section-content-padding;
  @include brown-gradient-background;
  @include stretch-section-to-viewport-height;
}

.title {
  @extend %vok-section-title;
}

.contact {
  @extend %vok-card;
  padding-top: 0;

  @include screen-gt-sm {
    padding-bottom: 32px;
  }
}

.map {
  background: $vok-light-grey;
  height: 350px;
  width: 100%;

  @include screen-gt-sm {
    margin-bottom: 24px;
    height: 450px;
  }
}

.texts {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  line-height: 1.3;

  @include screen-gt-sm {
    flex-direction: row;
    font-size: 22px;
  }
}

.group-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: $padding-h $padding-v;
  border-bottom: 1px solid $vok-light-grey;

  @include screen-gt-sm {
    width: 50%;
    padding: 0 $padding-v;
    border-bottom: none;
    border-right: 1px solid $vok-light-grey;
  }
}

.address {
  display: flex;
  flex-direction: column;
}

.individual-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $padding-h $padding-v;

  @include screen-gt-sm {
    padding: 0 $padding-v;
    width: 50%;
  }
}

.individual-contact {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 1.2em;
  }
}

.member {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;

  @include screen-gt-sm {
    margin-bottom: 0;
  }
}

.avatar {
  @extend %avatar;
  margin-right: $avatar-margin;
  flex-shrink: 0;
}

.link {
  display: flex;
  align-items: center;
  margin-top: 0.4em;
}

.link-icon {
  margin-right: 0.5em;
  color: $vok-blue;

  @include screen-gt-xs {
    margin-left: $avatar-size + $avatar-margin;
  }
}

.link-text {
  color: $vok-blue;
  line-height: 1;
}

.facebook-button {
  margin-top: 30px;
  color: $vok-white;
  background-color: $vok-fb-blue;
  padding: 10px 15px;
  border-radius: 2px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: $vok-fb-blue-shade;
  }

  &:active {
    background-color: $vok-fb-blue-tint;
  }
}

.facebook-icon {
  margin-right: 0.5em;
}
