@import 'variables';

.card {
  @extend %vok-card;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  line-height: 1.3;
  display: block;
  width: 100%;
  margin-top: $vok-card-offset;
  text-align: center;
  @include card-content-padding;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: $vok-card-offset;
}
